button {
    height: 32px;
    width: 77px;
    margin-left: 6%;
    border-width: 3px;
    color: darkred;
    background-color: SandyBrown;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding-top: 3px;
}

#countdown {
    color: #1B232F;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

#test {
    margin-left: 42%;
}

#countdown {
    margin-left: 5%;
}



